/* Reset some default styles */
body, h1, h2,ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.slideshow {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-list {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.content{
    display:flex;
    height: 200px;
    margin-top: 20px;
}
.news-img img{
    max-width: 70%;
    height: auto;
}
/* .news-img p{
    
    margin-left: 200px;

} */
/* Add more styling for news articles as needed */

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
